body {


}

.kokodayo {
 
    width : 1800px;
    height : 770px;
    border-radius: 169px;

}

.menu {

    text-decoration: none;
    color: black;
    margin-bottom: 10px;

}

.indiceContenido {

    display: flex;
    flex-direction: column;

}

.propioindice {

    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-bottom: 16px;

}

.menu:hover {

    color: red;
    cursor: pointer;

}

h1 {

    font-size: 30px;

}

.err {

    color: red;

}

.cuadrado {

    border: 1px solid #339533;
    background-color: rgb(176, 228, 180);

}