body {

    padding-left: 3%;
    padding-top: 1%;

}

p {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

pre {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {

    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2 {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

hr {

    margin-top: 2%;
    margin-bottom: 2%;

}

.kokodayo {
 
    width : 1800px;
    height : 770px;
    border-radius: 169px;

}

.menu {

    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    width: max-content;

}

.indiceContenido {

    display: flex;
    flex-direction: column;

}

.propioindice {

    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-bottom: 1%;

}

.menu:hover {

    color: rgb(21, 255, 0);
    cursor: pointer;

}

.err {

    color: red;

}

.cuadrado {

    border: 1px solid #339533;
    background-color: rgb(176, 228, 180);
    width: max-content;
    padding: 5px;

}